:root {
    /* Colors */
    --clr-background: #EAF6FD;
    --clr-surface: #FFFFFF;
    --clr-cards: #F7F7F7;
    --clr-primary: #5CBFD6;
    --clr-secondary: #F6CFCF;
    --clr-accent: #A7D3D0;

    /* Text */
    --clr-text: #1F2937;
    --clr-text-muted: #6B7280;
    --clr-border: #DDE7EE;

    /* Typography */
    --main-font: 'Roboto', 'Roboto-condensed', monospace;
  

    --fs-logo: 2.25rem;
    --fs-h1: 2rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --fs-small: 0.875rem;
    --fs-lg:3rem;

    /* Font Weights */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    /* Line Heights */
    --lh-heading: 1.2;
    --lh-body: 1.6;

    /* Spacing */
    --space-xs: 0.5rem;      /* 8px */
    --space-sm: 1rem;        /* 16px */
    --space-md: 1.5rem;      /* 24px */
    --space-lg: 2rem;        /* 32px */
    --space-xl: 3rem;        /* 48px */

    /* Layout */
    --container-width: 1200px;
    --content-gap: 1rem;
    --section-gap: 3rem;
    --header-padding: 5rem;
    --card-gap:.5rem;

    /* Border Radius */
    --radius-sm: 0.5rem;     /* 8px */
    --radius-md: 0.75rem;    /* 12px */
    --radius-lg: 1rem;       /* 16px */
    --radius-round: 999px;

    /* Shadows */
    --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 16px rgba(0, 0, 0, 0.08);
    --shadow-lg: 0 8px 24px rgba(0, 0, 0, 0.10);


    /* Cards */
    --card-padding: 1rem;
    --card-padding-lg: 1.5rem;
    --bar-padding: 1rem;

    /* Images */
    --image-radius: 0.75rem;
}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-background);
}



ul, ol {
  list-style: none;
  padding: 0;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-primary);
  padding-inline-end: var(--header-padding);
  font-family: var(--main-font);
  width: 100%;
  box-shadow: var(--shadow-md);
  position: relative;

}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--content-gap);
}

.menu ul .bi {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-logo);
}

.menu ul li a {
  text-decoration: none;
  color: var(--clr-text);
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

.menu ul li a:hover {
  color: white;
}

.header .logo img {
  width: 150px;
  height: 120px;
  border-radius: var(--image-radius);
}

.menu-icon {
  display: none;
  font-size: var(--fs-lg);
}

@media (max-width: 60em) {

  .header {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .menu ul .bi {
    display: inline;
    margin-right: 15px;

  }

  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 2rem;
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .menu ul {
  display: none;
  flex-direction: column;

  width: 100%;
  margin: 0;
  padding: 1rem 0;

  /* glass effect */
  background: rgba(71, 215, 241, 0.3); /* adjust to your #1D1A39 theme */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: var(--shadow-md);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .menu ul.active {
    display: flex;
  }

  .menu ul li {
    text-align: start;
    padding: 1rem 1rem;
  }

  .header .logo img {
    width: 100px;
    height: auto;
  }

}

/*content styled with grid*/

#header {
  grid-area: header;
}

.sidebar {
  background-color: var(--clr-primary);
  grid-area: sidebar;
  gap: var(--section-gap);
}

.sidebar .side-content {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  background-color: var(--clr-surface);
  padding: var(--card-padding);
  border-radius: var(--radius-md);
  gap: 3rem;
}

.sidebar .side-content:hover {
  cursor: pointer;
}

.sidebar .side-content .content p:nth-child(1) {
  font-weight: var(--fw-semi-bold);
  margin-bottom: 10px;
}

.sidebar .side-content .icon {
  display: flex;
  justify-content: center;
  font-size: var(--fs-h1);
  align-items: center;
  border-radius: 50%;
  background-color: aqua;
  padding: 1rem 2rem;
}



.sidebar .photo .text {
  position: absolute;
  bottom: 0;
  padding: var(--card-gap);
  font-size: 2rem;
  color: white;
}

.sidebar .photo .text p:nth-child(1) {
  font-weight: var(--fw-semi-bold);
}



.articles {
  margin: .5rem;
  grid-area: articles;
}


.container {
  display: grid;
  gap: var(--content-gap);
  border: none;
  grid-template-areas:
  'header'
  'sidebar'
  'nav'
  'articles'
  'footer';
}

@media (min-width:60em) {

    .container {
      grid-template-columns: 1fr 3fr;
      grid-template-areas:
      'header header'
      'sidebar nav'
      'sidebar articles'
      'footer footer';
    }
    
}

/*sidebar*/
.sidebar {
  display: grid;
  padding: var(--card-padding);
  margin:.5rem;
  border-radius: var(--radius-md);
}
.sidebar .photo {
  background-image: url('/assets/oliver-hae-h3pU3m-Eduk-unsplash.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 40vh;
  position: relative;
  border-radius: var(--radius-md);
}

/*nav*/
.nav {
  margin: .5rem;
  grid-area: nav;
  background-color: var(--clr-accent);
  border-radius: var(--radius-md);
  padding: var(--bar-padding);
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.nav ul li a {
  text-decoration: none;
  color: var(--clr-surface);
  font-weight: var(--fw-medium);
  font-size: var(--fs-h3);
}

/*articles*/

.articles {
  display: grid;
  
  grid-template-areas:
  'card-1'
  'card-2'
  'card-3'
  'card-4'
  'card-5'
  'card-6'
  'card-7'
  'card-8'
  'card-9'
  'card-10'
  'card-11'
  'card-12';
  gap: var(--card-gap);
}

.card {
  --min-col-size:100px;
}

@media (min-width: 50em) {

  .articles {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    'card-1 card-2 card-3'
    'card-4 card-5 card-6 '
    'card-7 card-8 card-9'
    'card-10 card-11 card-12';
  }
  
}

@media (min-width:60em) {

  .articles {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    'card-1 card-2 card-3 card-4'
    'card-5 card-6 card-7 card-8'
    'card-9 card-10 card-11 card-12';
  }
  
}


.articles div:nth-child(1) {
  grid-area: card-1;
}

.articles div:nth-child(2) {
  grid-area: card-2;
}

.articles div:nth-child(3) {
  grid-area: card-3;
}

.articles div:nth-child(4) {
  grid-area: card-4;
}

.articles div:nth-child(5) {
  grid-area: card-5;
}

.articles div:nth-child(6) {
  grid-area: card-6;
}

.articles div:nth-child(7) {
  grid-area: card-7;
}

.articles div:nth-child(8) {
  grid-area: card-8;
}

.articles div:nth-child(9) {
  grid-area: card-9;
}

.articles div:nth-child(10) {
  grid-area: card-10;
}

.articles div:nth-child(11) {
  grid-area: card-11;
}

.articles div:nth-child(12) {
  grid-area: card-12;
}

/*footer*/
.footer {
  background-color: var(--clr-primary);
  grid-area: footer;
  padding: var(--card-padding);
  text-align: center;
  font-weight: var(--fw-semi-bold);
  font-size: 1rem;
}

.footer a {
  text-decoration: none;
  color: var(--clr-surface);
}

.footer i {
  font-size: 25px;
  padding: 10px;
}

/*cards*/

.card {
  background-color: var(--clr-cards);
  padding: var(--card-padding);
  border-radius: var(--radius-md);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  border-radius: var(--image-radius);
  
}

.article-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.article-content p:nth-child(1) {
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-h3);
}










